*{  margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 30px;
    
}
.headlineText{
    text-align: center;
    margin-bottom: 3rem;
    
}
.headlineText p{ 
    font-style: italic;
    margin:0 5rem;
    color: rgb(87, 83, 79);
}
#btnMenu{
    display:none;
}

.menu a{
    display:inline-block;
    margin:0px 10px; 
    list-style-type:square;
    text-decoration: none;
}
a:visited{
    text-decoration: none;
    color:black;
    cursor:pointer;
}
 
#cover-photo{
    width:100%;
    object-fit:cover;  
}

/*styling of the main part*/
.title{
    text-align: center;
    margin:15px;
}
.products{
    width:100%;
    margin:auto;
}
.earings{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
    border-radius: 10px;
    margin:15px;
    box-shadow: 3px 3px 3px grey;
}
.images{
   
}
.images img{
    width:100%;
    max-height:300px;
    object-fit: contain;
}

.text{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    font-size:min(5px),max(15px);
    gap: 5px;
}
.size button{
    width:auto;
    height:3em;
    border-radius: 10px;
    background: none;
    cursor: pointer;
    padding: 0.6em;
}
.size button:hover{
    background: black;
    color:white;
}
.buy{
    width:50%;
    height:3em;
    background: black;
    color: white;
    border-radius: 5px;
    border:none;
    padding: 4px;
}

.addOrRemove{
    width:auto;
    height:1.5em;
    border: rgb(54, 53, 53) 1px solid;
    cursor: pointer;
    padding: 2px;
    box-shadow: inset 1px 1px 1px 1px grey;
}
}
.addOrRemove>button{
    cursor: pointer;
    margin:0 4px;
    font-size: 1em;
}
input{
    border:none;
    background: none;
    text-align: center;
    width:auto;
}
.addBtn,.removeBtn{
    width:5%;
    background: none;
    border:none;
}

.hidden{
    display:none;
    opacity:0%
    
}
.contact{
    background: grey;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    flex-wrap: wrap;

}
.map p{
   margin-bottom: 1rem;
   font-weight: bolder;
}

 #myMap{
    position:relative;
    width:400px;
    height:300px;
   
}
.socialMedia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height:15em;
    
}
.icons{
    margin-right:5px;
}
.icons>i:hover{
    transform: scale(2);
    cursor:pointer;
    margin:10px;
}
address{
    display: grid;
    flex-direction: column;
}


@media only screen and (max-width:720px){
    #btnMenu{
        display:block;}

    .menu{
        position: absolute;
        display: flex;
        flex-direction:column;
        right:0px;
        top:76px;
        background-color: white;
        width:50%;
        align-items: center;
        justify-content: center;
        transform: translateX(100%); 
        transition: 0.5s ease-in-out;
        width: 100%;
        opacity: 90%;
        margin-top: 10px;
    }
    .menuItem{
        opacity:0%;
        transition: 0.7s ease-in;
        padding: 1px;
        font-family: 'Whisper', cursive;
        font-size: 15px;
    }

    .menu-open{
        transform: translateX(0%); 
    }
}